<!DOCTYPE html>
<html>
  <head>
    <title>Compliment Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
	<strong><h1>Welcome to Compliment Engine</h1></strong>
	<p class = "lead">
    Our Compliment Engine is designed to help ease the loneliness of the social web. Have you  ever logged in to Facebook and been dismayed that you have no notifications and nobody loves you? Do you feel like you have no friends on the internet? Well the Compliment Engine is here to help. The app periodically checks to see if you have any unread notifications, and if you are currently unloved it will send you a loving notification to boost your Web 2.0 ego. Visit our <a href='https://github.com/pmcote/ComplementEngine'>github</a> to play with the code behind the app.
	</p>

  <button class = "btn btn-primary" type = "button"><a href='http://complimentengine.heroku.com/index'>Try It</button>

  
  </body>
</html>
