<!DOCTYPE html>
<html>
  <head>
    <title>Compliment Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	{% extends "base.html" %}
	{% block title %}Compliment Engine{% endblock %}

	{% block content %}
	<strong><h1>Compliment Engine</h1></strong>
	    <h2 class='lead'> Welcome {{facebook_profile['name'] }} </h2>
	<p class='lead'>
	    You are now signed up for notification services.
	</p>



{% endblock %}   
  </body>
</html>
